@import '../../scss/media-query';

.hero {
    width: 100%;
    height: 86vh;
    // background-image: url(../image/home/hero_banner.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: top;
    position: relative;

    & .arrowDown {
        border: 2px solid;
        @include get-color(border-color, primary-color-blue);
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 79px;
        height: 79px;
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 100%;
        z-index: 2;

        @include mobile {
            width: 50px;
            height: 50px;
        }

        & i {
            @include get-color(color, primary-color-blue);
            font-size: 30px;
            animation: slide1 1s ease-in-out infinite;

            @include mobile {
                font-size: 17px;
            }
        }

        &:hover {
            @include get-color(background-color, primary-color-blue);
            transition: all 0.3s linear 0s;

            & i {
                color: #ffffff !important;
            }
        }
    }

    &.fade {
        opacity: 1;
        & .item {
            top: 0;
            z-index: 1;
            opacity: 1;
            width: 100%;
            position: absolute;
            left: 0 !important;
            display: block !important;
            -webkit-transition: opacity ease-in-out 1s;
            -moz-transition: opacity ease-in-out 1s;
            -ms-transition: opacity ease-in-out 1s;
            -o-transition: opacity ease-in-out 1s;
            transition: opacity ease-in-out 1s;
            &:first-child {
                top: auto;
                position: relative;
            }
            &.active {
                opacity: 1;
                z-index: 2;
                -webkit-transition: opacity ease-in-out 1s;
                -moz-transition: opacity ease-in-out 1s;
                -ms-transition: opacity ease-in-out 1s;
                -o-transition: opacity ease-in-out 1s;
                transition: opacity ease-in-out 1s;
            }
        }
    }

    & .indicator {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 60px;

        @include navbar-large{
            padding: 0 20px;
            width: 18%;
            margin: 0 18px 0 auto;
        }

        @include slider-tablet{
            padding: 0 20px;
            width: 22%;
            margin: 0 18px 0 auto;
        }

        @include tablet {
            width: 100%;
            align-items: flex-end;
            top: -20px;
        }

        & .PrevBtn {
            width: 67px;
            height: 67px;
            margin: 0 10px;
            border: 2px solid;
            @include get-color(border-color, primary-color-blue);
            border-radius: 100%;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 3;

            @include navbar-large{
                z-index: 4;
                margin: 0 0 0 auto;
            }

            @include slider-tablet{
                z-index: 4;
                margin: 0 0 0 auto;
            }

            @include tablet {
                margin: 0 0 0 auto;
            }

            &:hover {
                transition: all 0.3s linear 0s;
                @include get-color(background-color, primary-color-blue);

                & img {
                    filter: brightness(0) invert(1);
                }
            }
        }

        & .NextBtn {
            width: 67px;
            height: 67px;
            margin: 0 10px;
            border: 2px solid;
            @include get-color(border-color, primary-color-blue);
            border-radius: 100%;
            opacity: 1;
            margin: 0 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 3;

            @include navbar-large{
                z-index: 4;
            }

            @include slider-tablet{
                z-index: 4;
                margin: 0 20px 0 auto;
            }

            @include tablet {
                margin: 0 auto 0 20px;
            }

            &:hover {
                transition: all 0.3s linear 0s;
                @include get-color(background-color, primary-color-blue);

                & img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    & .carousel-inner {
        height: 100%;

        & .carousel-item {
            height: 100%;

            & img {
                &.bannerImgs {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    animation: slideShow 24s linear infinite 0s;
                    -o-animation: slideShow 24s linear infinite 0s;
                    -moz-animation: slideShow 24s linear infinite 0s;
                    -webkit-animation: slideShow 24s linear infinite 0s;
                }
            }

            & .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: transparent linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.67) 100%) 0% 0% no-repeat padding-box;
                cursor: pointer;
            }

            & .hero-inner {
                z-index: 2;
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;

                @include tablet {
                    padding-bottom: 153px;
                }

                & h1 {
                    text-align: left;
                    letter-spacing: 0;
                    color: #000000;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 60px;
                    line-height: 60px;
                    margin-bottom: 0;

                    @include mobile {
                        font-size: 45px;
                        line-height: 45px;
                    }

                    & strong {
                        font-weight: 800;
                        @include get-color(color, primary-color-blue);
                    }
                }

                & span {
                    text-align: left;
                    letter-spacing: 0;
                    color: #000000;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 33px;

                    @include mobile {
                        font-size: 23px;
                    }
                }

                & p {
                    text-align: justify;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    font-weight: 400;
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 86px;

                    @include mobile {
                        font-size: 14px;
                        margin-bottom: 30px;
                    }
                }

                & .bannerBtnBG {
                    @include get-color(background-color, primary-color-blue);
                    opacity: 1;
                    width: 250px;
                    height: 85px;
                    padding: 18px 17px;
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 30px;
                    border-radius: 10px;

                    @include mobile {
                        margin-right: 10px;
                        width: 210px;
                    }

                    @include small-mobile {
                        margin-right: 0;
                        margin-bottom: 10px;
                        width: 100%;
                        height: auto;
                    }

                    & a {
                        text-align: left;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        opacity: 1;
                        font-size: 18px;
                        font-weight: 400;

                        & img {
                            position: absolute;
                            top: 17px;
                            right: 22px;
                            width: 15px;
                            height: 15px;
                            filter: brightness(0) invert(1);
                            animation: slide3 1s ease-in-out infinite;
                        }
                    }

                    &:hover,
                    &:focus {
                        box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #233785, 0px 0px 0px 3px white, 0px 0px 0px 3px #233785;
                        background-color: white !important;
                        @include get-color(color, primary-color-blue);

                        & a {
                            @include get-color(color, primary-color-blue);
                        }

                        & img {
                            filter: none;
                        }
                    }
                }

                & .bannerBtn {
                    border: 2px solid;
                    @include get-color(border-color, primary-color-blue);
                    opacity: 1;
                    width: 250px;
                    height: 85px;
                    padding: 18px 17px;
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 10px;

                    @include mobile {
                        width: 210px;
                    }

                    @include small-mobile {
                        width: 100%;
                        height: auto;
                    }

                    & a {
                        text-align: left;
                        letter-spacing: 0px;
                        color: #000000;
                        text-transform: uppercase;
                        opacity: 1;
                        font-size: 18px;
                        font-weight: 400;

                        & img {
                            position: absolute;
                            top: 17px;
                            right: 22px;
                            width: 15px;
                            height: 15px;
                            animation: slide3 1s ease-in-out infinite;
                        }
                    }

                    &:hover,
                    &:focus {
                        box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #233785, 0px 0px 0px 3px white, 0px 0px 0px 3px #233785;
                        background-color: white;
                        @include get-color(color, primary-color-blue);
                        border: none;

                        & a {
                            @include get-color(color, primary-color-blue);
                        }

                        & img {
                            filter: none;
                        }
                    }
                }
            }
        }
    }
}

@keyframes slide1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }
}

@keyframes slide3 {

    0%,
    100% {
        transform: translate(0, 10px) rotate(0);
    }

    50% {
        transform: translate(10px, 0) rotate(0);
    }
}

@keyframes slideShow {
    0% {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1);
    }

    5% {
        opacity: 1
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 1;
        transform: scale(1.1);
        -ms-transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -ms-transformm: scale(1);
    }
}