@import '../../scss/media-query';

.blog-section {
    padding: 90px 0;

    @include mobile {
        padding: 50px 0;
    }

    & .heading {
        text-align: center;
        margin-bottom: 50px;

        @include mobile {
            font-size: 30px;
            margin-bottom: 20px;
        }

        & span {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            text-transform: uppercase;
            opacity: 1;
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;

            @include mobile {
                font-size: 14px;
            }
        }

        & h3 {
            text-align: center;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 40px;
            line-height: 50px;
            font-weight: 600;
            width: 650px;
            margin: 10px auto 0;

            @include mobile {
                font-size: 30px;
                line-height: 40px;
            }

            @include small-tablet {
                width: 100%;
            }
        }
    }

    & .blogBG {
        background-color: #FFFFFF;
        border-radius: 10px;
        opacity: 1;
        filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
        padding: 13px 13px 25px;
        height: 100%;

        & .blogImg {
            position: relative;

            & img {
                width: 100%;
                height: 228px;
                border-radius: 10px;
                opacity: 1;
                object-fit: cover;

                @include small-tablet {
                    height: auto;
                }
            }

            & .blogDate {
                @include get-color(background-color, primary-color-blue);
                border: 3px solid #FFFFFF;
                opacity: 1;
                width: 77px;
                height: 77px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                position: absolute;
                bottom: -29px;
                right: 22px;

                & p {
                    text-align: center;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 15px;
                    margin-bottom: 0;
                    margin-top: 9px;
                }

                & span {
                    text-align: center;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    opacity: 1;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                }
            }
        }

        & h5 {
            text-align: left;
            letter-spacing: 0px;
            color: #777777;
            text-transform: uppercase;
            opacity: 1;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-top: 25px;
            margin-bottom: 0;
        }

        & h4 {
            text-align: left;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        & a {
            text-align: left;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            opacity: 1;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            position: relative;
            z-index: 1;

            &:hover {
                @include get-color(color, primary-color-blue);
            }
        }

        & .btnBefore,
        & .btnAfter {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border: solid #233785;
            border-width: 0;
            transition: 0;
            -webkit-transition: 0;
            -moz-transition: 0;
            -o-transition: 0;
            -ms-transition: 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            @include get-color(border-color, primary-color-blue);
            border-radius: 0;
        }

        & .btnBefore {
            right: 0;
            bottom: 0;
        }

        & .btnAfter {
            left: 0;
            top: 0;
        }

        &:hover {
            border-radius: 0;

            & img {
                border-radius: 0;
            }

            & .btnBefore {
                border-width: 0 0 3px 3px;
            }

            & .btnAfter {
                border-width: 3px 3px 0 0;
            }

            & .btnAfter,
            & .btnBefore {
                height: 100%;
                width: 100%;
                transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
            }
        }
    }
}