@import '../../scss/media-query';

.case-study-section {
    padding: 90px 0;

    @include mobile {
        padding: 50px 0;
    }

    & .heading {
        text-align: center;
        margin-bottom: 50px;

        @include mobile {
            font-size: 30px;
            margin-bottom: 0;
        }

        & span {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            text-transform: uppercase;
            opacity: 1;
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;

            @include mobile {
                font-size: 14px;
            }
        }

        & h3 {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            opacity: 1;
            font-size: 40px;
            line-height: 50px;
            font-weight: 600;
            width: 650px;
            margin: 10px auto 0;

            @include mobile {
                font-size: 30px;
                line-height: 40px;
            }

            @include small-tablet {
                width: 100%;
            }
        }
    }

    & .OwnCase {
        padding: 20px;

        & .item {
            padding: 10px;

            & .caseData {
                background-color: #FFFFFF;
                border-radius: 10px;
                filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
                position: relative;

                & img {
                    border-radius: 10px 10px 0px 0px;
                }

                & div {
                    padding: 30px;

                    & h6 {
                        text-align: left;
                        letter-spacing: 0px;
                        @include get-color(color, primary-color-blue);
                        opacity: 1;
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    & p {
                        text-align: left;
                        letter-spacing: 0px;
                        color: #777777;
                        opacity: 1;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        margin-bottom: 20px;
                    }

                    & a {
                        text-align: left;
                        letter-spacing: 0px;
                        @include get-color(color, primary-color-blue);
                        opacity: 1;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 22px;
                        position: relative;
                        z-index: 1;

                        &:hover {
                            @include get-color(color, primary-color-blue);
                        }
                    }
                }

                & .btnBefore,
                & .btnAfter {
                    content: '';
                    position: absolute;
                    height: 0;
                    width: 0;
                    border: solid #233785;
                    border-width: 0;
                    transition: 0;
                    -webkit-transition: 0;
                    -moz-transition: 0;
                    -o-transition: 0;
                    -ms-transition: 0;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    @include get-color(border-color, primary-color-blue);
                    border-radius: 0;
                }

                & .btnBefore {
                    right: 0;
                    bottom: 0;
                }

                & .btnAfter {
                    left: 0;
                    top: 0;
                }

                &:hover {
                    border-radius: 0;

                    & img{
                        border-radius: 0;
                    }

                    & .btnBefore {
                        border-width: 0 0 3px 3px;
                    }

                    & .btnAfter {
                        border-width: 3px 3px 0 0;
                    }

                    & .btnAfter,
                    & .btnBefore {
                        height: 100%;
                        width: 100%;
                        transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                    }
                }
            }
        }

        & .owl-nav {
            text-align: center;
            margin-top: 40px;

            & button {
                border: 2px solid;
                @include get-color(border-color, primary-color-blue);
                opacity: 1;
                border-radius: 100%;
                width: 67px;
                height: 67px;
                margin: 0 10px;

                &:hover {
                    @include get-color(background-color, primary-color-blue);
                    transition: all 0.3s linear 0s;
                    & img {
                        filter: brightness(0) invert(1);
                    }
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }

}