@import '../../scss/media-query';

.client-section {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(119, 119, 119, 0.05);
    opacity: 1;
    padding: 85px 0;
    & .clientCarousel {
        & img {
            width: 130px;
            margin: 0 auto;
        }
    }

    @include mobile {
        padding: 75px 0 40px;
    }
}