@import '../../scss/media-query';

.bottom-section {

    & .experience-section {
        @include get-color(background-color, primary-color-blue);
        opacity: 1;
        padding: 54px 70px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 196px;
        z-index: 2;

        & .container{
            @include small-tablet {
                padding-right: 0;
                padding-left: 0;
            }
        }

        @include big-tablet {
            width: 97%;
            padding: 54px 50px;
        }

        @include tablet {
            padding: 54px 10px;
            height: 213px;
        }

        @include small-tablet {
            padding: 34px 10px;
            height: 156px;
        }

        @include mobile {
            padding: 30px 10px;
            height: 252px;
        }

        & .counter-section {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;

            @include mobile {
                grid-template-columns: repeat(2, 1fr); 
            }

            & .counterData {
                text-align: center;

                & p {
                    text-align: center;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    font-size: 50px;
                    font-weight: 600;
                    line-height: 50px;
                    margin-bottom: 10px;

                    @include big-tablet {
                        font-size: 50px;
                    }

                    @include tablet {
                        font-size: 40px;
                    }
                }

                & h6 {
                    text-align: center;
                    font: normal normal normal 22px/50px Poppins;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 34px;

                    @include big-tablet {
                        font-size: 18px;
                    }

                    @include tablet {
                        font-size: 14px;
                    }

                    @include small-tablet {
                        line-height: 25px;
                    }
                }
            }
        }
    }
}