@import '../../scss/media-query';

.modal {
    &.inquiryModal {
        & .modal-dialog {
            & .modal-content {
                & .modal-body {
                    padding: 30px;
                    & h4 {
                        text-align: center;
                        letter-spacing: 0px;
                        color: #233785;
                        opacity: 1;
                        font-size: 30px;
                        line-height: 40px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
    
                    & p {
                        text-align: center;
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 400;
                        margin-bottom: 0;
                    }
    
                    & form {
                        margin-top: 50px;
    
                        & label {
                            text-align: left;
                            letter-spacing: 0px;
                            color: #000000;
                            text-transform: uppercase;
                            opacity: 1;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
    
                        & input {
                            &.form-control {
                                background-color: rgba(119, 119, 119, 0.05);
                                box-shadow: 0px 0px 15px -3px rgba(41, 126, 232, 0.19);
                                border: none;
                                font-size: 14px;
                                line-height: 22px;
                                font-weight: 400;
                                color: #000000;
                                height: 47px;
                                border: 1px solid;
                                border-color: #b1b1b1;
                            }
                        }
                    }
                }
            }
        }
    }
}