@import '../../scss/media-query';

.bottom-section {
    & .contact-section {
        background-image: url(../image/home/quick-contact-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        padding: 74px 0 179px;

        @include tablet {
            background-position: center left;
        }


        & h3 {
            text-align: left;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            opacity: 1;
            font-size: 40px;
            font-weight: 600;
            line-height: 40px;
            margin-bottom: 17px;
            @include mobile {
                font-size: 30px;
                line-height: 40px;
            }
        }

        & p {
            text-align: left;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 36px;
            width: 639px;

            @include small-tablet {
                width: 100%;
            }
        }

        & .form-inline {
            @include small-tablet {
                display: block;
            }
            & .form-group {
                & input {
                    &.form-control {
                        background-color: transparent;
                        border: 2px solid #777777;
                        border-radius: 10px;
                        opacity: 1;
                        padding: 20px 10px 20px 30px;
                        height: 61px;
                        width: 258px;
                        text-align: left;
                        letter-spacing: 0px;
                        @include get-color(color, primary-color-blue);
                        opacity: 1;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        @include small-tablet {
                            width: 100%;
                        }
                    }

                    &::-webkit-input-placeholder {
                        @include get-color(color, primary-color-blue);
                        opacity: 0.78;
                    }

                    &::-moz-placeholder {
                        @include get-color(color, primary-color-blue);
                        opacity: 0.78;
                    }

                    &:-ms-input-placeholder {
                        @include get-color(color, primary-color-blue);
                        opacity: 0.78;
                    }

                    &:-moz-placeholder {
                        @include get-color(color, primary-color-blue);
                        opacity: 0.78;
                    }
                    &:focus {
                        box-shadow: none;
                        border: 2px solid;
                        @include get-color(border-color, primary-color-blue);
                    }
                }
            }

            & button {
                @include get-color(background-color, primary-color-blue);
                border-radius: 10px;
                opacity: 1;
                border: none;
                width: 149px;
                height: 61px;
                text-align: center;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 1;
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;

                &:hover {
                    background-color: transparent !important;
                    border: 2px solid;
                    @include get-color(border-color, primary-color-blue);
                    transition: all 0.3s linear 0s;
                    @include get-color(color, primary-color-blue);
                }
            }
        }
    }
}