@import '../../scss/media-query';

.reason-section {
    padding: 70px 0;
    background-color: rgba(119, 119, 119, 0.05);

    @include mobile {
        padding: 50px 0;
    }

    & h3 {
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        padding-bottom: 14px;
        border-bottom: 3px solid;
        @include get-color(border-color, primary-color-blue);
        margin-bottom: 0;
        width: 414px;

        @include tablet {
            width: 100%;
        }

        @include mobile {
            font-size: 30px;
            line-height: 40px;
        }

        & span {
            @include get-color(color, primary-color-blue);
            font-weight: 600;
        }
    }

    & .progress-section {
        margin-top: 45px;

        @include mobile {
            margin-top: 20px;
        }

        & .ProData {
            position: relative;
            margin-top: 24px;

            @include mobile {
                margin-top: 10px;
            }

            & p {
                text-align: left;
                letter-spacing: 0px;
                color: #000000;
                text-transform: uppercase;
                opacity: 1;
                font-size: 16px;
                line-height: 37px;
                font-weight: 400;
            }

            & .progressbar {
                background: rgba(35, 55, 133, 0.07) 0% 0% no-repeat padding-box;
                border-radius: 5px;
                opacity: 1;
                width: 85%;
                height: 20px;

                @include tablet {
                    width: 80% !important;
                }

                @include small-tablet {
                    width: 85% !important;
                }

                & .proggress {
                    @include get-color(background-color, primary-color-blue);
                    border-radius: 5px;
                    width: 0;
                    height: 20px;

                }

                & .percentCount {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(35, 55, 133, 0.12);
                    border-radius: 10px;
                    opacity: 1;
                    width: 63px;
                    height: 46px;
                    text-align: left;
                    letter-spacing: 0px;
                    color: #000000;
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mobile {
                        width: auto;
                        height: auto;
                        padding: 10px;
                    }

                    @include small-mobile {
                        padding: 0;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    & .testimonial {
        background-color: rgba(35, 55, 133, 0.07);
        border-radius: 10px;
        opacity: 1;
        padding: 30px 30px 44px;
        position: relative;
        margin-top: 36px;

        @include small-tablet {
            margin-top: 78px;
        }

        & .OwnTestimonial {
            & .item {
                & img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                }

                & .TestiData {
                    margin-left: 25px;

                    & h5 {
                        text-align: left;
                        letter-spacing: 0px;
                        @include get-color(color, primary-color-blue);
                        opacity: 1;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 22px;
                        margin-bottom: 0;
                    }

                    & p {
                        text-align: left;
                        letter-spacing: 0px;
                        color: #777777;
                        opacity: 1;
                        font-size: 14px;
                        line-height: 22px;
                        margin-bottom: 0;
                        font-weight: 400;
                        margin-top: 0;
                    }
                }

                & p {
                    text-align: left;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 25px;
                    margin-top: 30px;
                    margin-bottom: 0;

                    @include mobile {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }

            & .owl-dots {
                text-align: center;
                margin-top: 49px;

                & .owl-dot {
                    display: inline-block;

                    @include mobile {
                        margin-top: 20px;
                    }


                    & button {
                        background-color: rgba(35, 55, 133, 0.19);
                        opacity: 1;
                        width: 10px;
                        height: 12px;
                        border-radius: 100%;
                        margin: 0 5px;
                        border: none;
                        outline: none !important;
                    }

                    &.active {
                        & button {
                            @include get-color(background-color, primary-color-blue);
                        }
                    }

                }
            }

        }

        & img {
            &.quoteImg {
                position: absolute;
                top: -32px;
                right: 0;
                z-index: 2;

                @include tablet {
                    width: 80px;
                }
            }
        }
    }
}