@import '../../scss/media-query';

.Home-Services {
    padding: 57px 0 0;
    background-image: url(../image/home/serviceBg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    @include mobile {
        padding: 50px 0;
    }

    & h2 {
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-weight: 600;
        font-size: 40px;
        @include mobile {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
        }
    }

    & .serviceGrid {
        margin-top: 35px;
        position: relative;

        @include Extra-large-screen {
            width: 2500px;
            margin: 0 auto;
        }

        & img {
            border-radius: 0px 50px 0px 0px;
            opacity: 1;

            @include small-tablet {
                display: none;
            }
        }

        & .serviceData {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            height: 100%;

            @include small-tablet {
                position: relative;
            }

            & .owl-nav {
                position: absolute;
                top: -121px;
                right: 80px;

                @include small-tablet {
                    position: relative;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: 20px auto;
                    display: flex;
                    justify-content: center;
                }

                & button {
                    width: 67px;
                    height: 67px;
                    margin: 0 10px;
                    border: 2px solid;
                    @include get-color(border-color, primary-color-blue);
                    border-radius: 100%;
                    opacity: 1;

                    &:hover {
                        @include get-color(background-color, primary-color-blue);
                        transition: all 0.3s linear 0s;

                        & img {
                            filter: brightness(0) invert(1);
                        }
                    }

                    & img {
                        width: 21px;
                        height: 21px;
                        border-radius: 0;

                        @include small-tablet {
                            display: inline-block;
                        }
                    }

                    &:focus {
                        outline: none;
                    }
                }


            }

            & .owl-stage {
                left: -100px;

                @include tablet {
                    left: -20px;
                }

                @include mobile {
                    left: 0;
                }
            }

            & .owl-item {

                & .Developemnt {
                    background-color: #FFFFFF;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                    border-radius: 34px;
                    opacity: 1;
                    padding: 30px 30px 80px 30px;
                    position: relative;
                    min-height: 350px;
                    border-radius: 10px;

                    @include mobile {
                        min-height: 300px;
                    }

                    & h4 {
                        text-align: left;
                        letter-spacing: 0px;
                        @include get-color(color, primary-color-blue);
                        text-transform: uppercase;
                        opacity: 1;
                        font-weight: 600;
                        margin-bottom: 20px;
                        font-size: 25px;
                    }

                    & p {
                        text-align: left;
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 0;
                    }

                    & a {
                        @include get-color(background-color, primary-color-blue);
                        border-radius: 0px 0px 10px 10px;
                        opacity: 1;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        padding: 12px;
                        text-align: center;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                        font-size: 16px;
                        font-weight: 400;
                        cursor: pointer;
                        z-index: 2;
                    }

                    & .btnBefore,
                    & .btnAfter {
                        content: '';
                        position: absolute;
                        height: 0;
                        width: 0;
                        border: solid #233785;
                        border-width: 0;
                        transition: 0;
                        -webkit-transition: 0;
                        -moz-transition: 0;
                        -o-transition: 0;
                        -ms-transition: 0;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        @include get-color(border-color, primary-color-blue);
                        border-radius: 0;
                    }

                    & .btnBefore {
                        right: 0;
                        bottom: 0;
                    }

                    & .btnAfter {
                        left: 0;
                        top: 0;
                    }

                    &:hover {
                        border-radius: 0;

                        & a {
                            border-radius: 0;
                        }

                        & .btnBefore {
                            border-width: 0 0 3px 3px;
                        }

                        & .btnAfter {
                            border-width: 3px 3px 0 0;
                        }

                        & .btnAfter,
                        & .btnBefore {
                            height: 100%;
                            width: 100%;
                            transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                            -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                            -moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                            -o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                            -ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        }
                    }
                }
            }
        }
    }
}