@import '../../scss/media-query';

.solution-section {
    padding: 60px 0;
    background-image: url("../image/home/solutionBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @include mobile {
        padding: 50px 0;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) 0% 0% no-repeat padding-box;
    }

    & .heading {
        text-align: center;
        margin-bottom: 50px;

        & span {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            text-transform: uppercase;
            opacity: 1;
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;

            @include mobile {
                font-size: 14px;
            }
        }

        & h3 {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            opacity: 1;
            font-size: 40px;
            line-height: 50px;
            font-weight: 600;

            @include mobile {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    & .OwnSolution {
        @include Extra-large-screen {
            width: 2500px;
            margin: 0 auto;
        }
        & .item {
            & .solutionData {
                position: relative;
                width: 100%;
                height: 350px;
                opacity: 1;
                padding: 30px;
                display: flex;
                align-items: flex-end;
                border-radius: 10px;

                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    object-fit: cover;
                    border-radius: 10px;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%) 0% 0% no-repeat padding-box;
                }

                & h5 {
                    text-align: left;
                    letter-spacing: 0px;
                    @include get-color(color, primary-color-blue);
                    opacity: 1;
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 36px;
                    z-index: 1;

                    @include mobile {
                        font-size: 18px
                    }
                }

                & .btnBefore,
                & .btnAfter {
                    content: '';
                    position: absolute;
                    height: 0;
                    width: 0;
                    border: solid #233785;
                    border-width: 0;
                    transition: 0;
                    -webkit-transition: 0;
                    -moz-transition: 0;
                    -o-transition: 0;
                    -ms-transition: 0;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    @include get-color(border-color, primary-color-blue);
                    border-radius: 0;
                }

                & .btnBefore {
                    right: 0;
                    bottom: 0;
                }

                & .btnAfter {
                    left: 0;
                    top: 0;
                }

                &:hover {
                    border-radius: 0;

                    & img, &::before{
                        border-radius: 0;
                    }

                    & .btnBefore {
                        border-width: 0 0 3px 3px;
                    }

                    & .btnAfter {
                        border-width: 3px 3px 0 0;
                    }

                    & .btnAfter,
                    & .btnBefore {
                        height: 100%;
                        width: 100%;
                        transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                    }
                }
            }
        }

        & .owl-nav {
            text-align: center;
            margin-top: 40px;

            & button {
                border: 2px solid #FFFFFF;
                opacity: 1;
                border-radius: 100%;
                width: 67px;
                height: 67px;
                margin: 0 10px;

                & img {
                    filter: brightness(0) invert(1);
                }

                &:focus {
                    outline: none;
                }

                &:hover {
                    @include get-color(background-color, primary-color-blue);
                    transition: all 0.3s linear 0s;
                }
            }
        }
    }
}