@import '../../scss/media-query';

.our-technology {
    padding: 90px 0;

    @include mobile {
        padding: 50px 0;
    }

    & .heading {
        margin-bottom: 50px;
        & span {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            text-transform: uppercase;
            opacity: 1;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;

            @include mobile {
                font-size: 14px;
            }
        }

        & h3 {
            text-align: center;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 40px;
            font-weight: 600;
            line-height: 40px;
            margin-top: 10px;
            margin-bottom: 20px;

            @include mobile {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }

    & .technoData {
        background-color: #FFFFFF;
        opacity: 1;
        filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
        padding: 30px;
        height: 100%;
        border-radius: 10px;

        & .technoImg {
            padding: 10px;
            width: 66px;
            height: 66px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            border-radius: 13px;
            opacity: 1;

            &.xamarin {
                background-color: rgba(52, 152, 219, 0.10);
            }

            &.react {
                background-color: rgba(97, 218, 251, 0.10);
            }

            &.angular {
                background-color: rgba(223, 46, 49, 0.10);
            }

            &.android {
                background-color: rgba(130, 188, 1, 0.10);
            }
            &.iOS {
                background-color: rgba(87, 87, 87, 0.10);
            }

            &.laravel {
                background-color: rgba(251, 80, 59, 0.10);
            }

            & img {
                width: 42px;
                height: 42px;
                object-fit: contain;
            }
        }

        & h4 {
            text-align: left;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            opacity: 1;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 8px;
        }

        & p {
            text-align: left;
            letter-spacing: 0px;
            color: #777777;
            opacity: 1;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 20px;
        }

        & a {
            text-align: left;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            opacity: 1;
            font-weight: 600;
            font-size: 14px;
            z-index: 2;
            position: relative;

            &:hover {
                @include get-color(color, primary-color-blue);
            }
        }

        & .btnBefore,
        & .btnAfter {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border: solid #233785;
            border-width: 0;
            transition: 0;
            -webkit-transition: 0;
            -moz-transition: 0;
            -o-transition: 0;
            -ms-transition: 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            @include get-color(border-color, primary-color-blue);
            border-radius: 0;
        }

        & .btnBefore {
            right: 0;
            bottom: 0;
        }

        & .btnAfter {
            left: 0;
            top: 0;
        }

        &:hover {
            border-radius: 0;

            & .btnBefore {
                border-width: 0 0 3px 3px;
            }

            & .btnAfter {
                border-width: 3px 3px 0 0;
            }

            & .btnAfter,
            & .btnBefore {
                height: 100%;
                width: 100%;
                transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
            }
        }
    }
}