@import '../../scss/media-query';

.Who-We-Section {
    padding: 100px 0;

    @include small-tablet {
        padding: 50px 0;
    }

    & span {
        text-align: left;
        letter-spacing: 0px;
        @include get-color(color, primary-color-blue);
        text-transform: uppercase;
        opacity: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        @include mobile {
            font-size: 14px;
        }
    }

    & h3 {
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-weight: 600;
        font-size: 40px;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 20px;

        @include mobile {
            font-size: 30px;
            line-height: 35px;
        }
    }

    & h4 {
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 26px;
        @include mobile {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }

    & p {
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 35px;
        @include mobile {
            font-size: 12px;
            line-height: 20px;
        }
    }
    

    & .imgSection {
        position: relative;
        @include small-tablet {
            margin-top: 30px;
        }

        &::before {
            content: "";
            background-color: rgba(35, 55, 133, 0.1);
            position: absolute;
            top: 30px;
            right: -57px;
            transform: rotate(49deg);
            z-index: -1;
            width: 350px;
            height: 350px;
            @include big-tablet{
                right: -10px;
            }
            @include tablet{
                content: none;
            }
        }

        & .EllipseDot {
            width: 63px;
            height: 205px;
            margin-bottom: 2em;
            background-image: url(../image/home/Ellipse.svg);
            background-repeat: repeat;
            position: absolute;
            bottom: -66px;
            left: 77px;
            z-index: -1;

            @include big-tablet{
                left: 0;
            }

            @include tablet {
                left: -29px;
            }

            @include small-tablet {
                display: none;
            }
        }

        & img {
            width: auto;
            border-radius: 45px;
            @include tablet {
                width: 100%;
            }
        }
    }
}