@import '../../scss/media-query';

.historyContact {
    padding: 60px 0;
    @include get-color(background-color, primary-color-blue);
    opacity: 1;

    & h5 {
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 0;

        @include small-tablet {
            text-align: center;
        }

        @include mobile {
            font-size: 14px;
            line-height: 22px;
        }
    }

    & h3 {
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-size: 40px;
        line-height: 50px;
        font-weight: 600;
        margin-bottom: 27px;

        @include small-tablet {
            text-align: center;
        }

        @include mobile {
            font-size: 30px;
            line-height: 35px;
        }
    }

    & p {
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 45px;

        @include small-tablet {
            text-align: center;
        }
    }

    & img {
        @include small-tablet {
            margin-top: 50px;
        }
    }

    & .btn {
        border-color: #ffffff;
    }
}