@import '../../scss/media-query';

.historyPoint {
    padding: 90px 0;

    @include mobile {
        padding: 50px 0;
    }

    & .heading {
        margin-bottom: 90px;

        @include mobile {
            margin-bottom: 50px;
        }

        & h2 {
            text-align: center;
            letter-spacing: 0px;
            color: #000000;
            font-size: 40px;
            font-weight: 600;
            line-height: 50px;
            opacity: 1;
            width: 660px;
            margin: 0 auto 13px;

            & span {
                @include get-color(color, primary-color-blue);
            }

            @include tablet {
                width: 100%;
            }

            @include mobile {
                font-size: 30px;
                line-height: 35px;
            }
        }

        & p {
            text-align: center;
            font: normal normal medium 14px/22px Poppins;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            margin: 0 auto;
            width: 724px;

            @include tablet {
                width: 100%;
            }
        }
    }

    & .ht-timeline-section {
        & ul {
            padding: 0;
            margin: 0;
            list-style: none;

            &.ht-timeline-list {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 15px 0 0;

                & li {
                    margin-bottom: 75px;

                    @include mobile {
                        margin-bottom: 40px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &.LoneLine {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        margin-left: -1px;
                        height: 100%;
                        border-left: 2px solid;
                        @include get-color(border-left-color, primary-color-blue);

                        @include small-tablet {
                            left: 15px;
                        }
                    }

                    &.ht-item {
                        position: relative;

                        @include small-tablet {
                            padding: 0 30px 0 70px;
                            width: 100%;
                        }

                        @include mobile {
                            padding: 0 10px 0 50px;
                        }

                        & .ht-dots {
                            position: absolute;
                            top: 25px;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: 36px;
                            height: 36px;
                            @include get-color(color, primary-color-blue);

                            @include small-tablet {
                                right: auto;
                                left: -3px;
                                transform: none;
                            }

                            @include mobile {
                                width: 30px;
                                height: 30px;
                                left: 0;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                border: 1px solid;
                                @include get-color(border-color, primary-color-blue);
                                border-radius: 50%;
                                top: 0;
                                left: 0;
                                width: 36px;
                                height: 36px;

                                @include mobile {
                                    width: 30px;
                                    height: 30px;
                                }
                            }

                            & .ht-middle-dot {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 22px;
                                height: 22px;
                                border-radius: 50%;
                                z-index: 2;
                                @include get-color(background-color, primary-color-blue);

                                @include mobile {
                                    width: 14px;
                                    height: 14px;
                                }
                            }
                        }

                        & .ht-inner {
                            padding-right: 60px;

                            @include tablet {
                                padding-right: 30px;
                            }

                            @include small-tablet {
                                padding: 0;
                            }

                            & .ht-year {
                                margin-bottom: 20px;

                                & h4 {
                                    text-align: right;
                                    letter-spacing: 0px;
                                    @include get-color(color, primary-color-blue);
                                    opacity: 1;
                                    font-size: 70px;
                                    line-height: 102px;
                                    font-weight: 500;
                                    margin-bottom: 0;

                                    @include tablet {
                                        font-size: 50px;
                                        line-height: 50px;
                                    }

                                    @include small-tablet {
                                        text-align: left;
                                    }

                                    @include mobile {
                                        font-size: 30px;
                                        line-height: 30px;
                                        font-weight: 600;
                                    }
                                }
                            }

                            & .ht-img {
                                & img {
                                    border-radius: 10px;
                                    opacity: 1;
                                    width: 100%;
                                    height: 350px;
                                    object-fit: cover;

                                    @include tablet {
                                        height: 250px;
                                    }

                                    @include small-tablet {
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        & .ht-contant {
                            padding-left: 60px;
                            margin-top: 50px;

                            @include tablet {
                                padding-left: 30px;
                                margin-top: 30px;
                            }

                            @include small-tablet {
                                padding: 0;
                            }

                            & h6 {
                                text-align: left;
                                letter-spacing: 0px;
                                color: #000000;
                                opacity: 1;
                                font-size: 25px;
                                line-height: 50px;
                                font-weight: 600;
                                margin-bottom: 13px;

                                @include tablet {
                                    font-size: 20px;
                                    line-height: 25px;
                                }
                            }

                            & p {
                                text-align: left;
                                letter-spacing: 0px;
                                color: #000000;
                                opacity: 1;
                                font-size: 14px;
                                line-height: 22px;
                                font-weight: 500;
                                margin-bottom: 0;
                            }
                        }

                        &.item-reverse {
                            & .ht-contant {
                                padding-right: 60px;
                                padding-left: 0;

                                @include tablet {
                                    padding-right: 30px;
                                }

                                @include small-tablet {
                                    padding: 0;
                                }

                                & h6, & p {
                                    text-align: right;

                                    @include small-tablet {
                                        text-align: left;
                                    }
                                }
                                
                            }

                            & .ht-inner {
                                padding-right: 0;
                                padding-left: 60px;

                                @include tablet {
                                    padding-left: 30px;
                                }

                                @include small-tablet {
                                    padding: 0;
                                }

                                & .ht-year {
                                    & h4 {
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}