@import 'media-query';

.footer-section {
    padding: 157px 0 34px 0;
    background-image: url(../image/home/footerBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #011126;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(1, 17, 38, 0.84);
        @include get-color(background-color, black-color-blue);
        opacity: 0.84;
    }

    & .logoDetails {
        padding-bottom: 38px;
        border-bottom: 1px solid #FFFFFF;

        & img {
            &.footerLogo {
                @include tablet {
                    width: 100%;
                }

                @include mobile {
                    width: 250px;
                }
            }
        }

        & .businessPartner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
            align-items: center;

            @include tablet {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
            }

            & p {
                text-align: right;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                font-size: 14px;
                line-height: 50px;
                font-weight: 400;
                margin-bottom: 0;

                @include tablet {
                    display: none;
                }

                @include mobile {
                    display: block;
                    text-align: center;
                }

                & i {
                    margin-left: 12px;
                    @include mobile {
                        display: none;
                    }
                }
            }

            & .clienLogo {
                display: flex;
                justify-content: flex-end;

                @include mobile {
                    justify-content: center;
                }


                & a {
                    &:first-child {
                        padding-left: 0;
                    }

                    &:nth-child(2) {
                        border-left: 1px solid #FFFFFF;
                        border-right: 1px solid #FFFFFF;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }

                & img {
                    padding: 0 20px;
                    width: auto;
                    height: 45px;

                    @include tablet {
                        height: 35px;
                    }

                    @include small-tablet {
                        height: 30px;
                    }

                    @include small-mobile {
                        padding: 0 8px;
                    }
                }
            }
        }
    }

    & .CompanyDetails {
        padding: 28px 0 38px;
        border-bottom: 1px solid #FFFFFF;

        & .information {
            @include tablet {
                padding-top: 50px;
            }
            & h2 {
                text-align: left;
                letter-spacing: 0.8px;
                color: #FFFFFF;
                text-transform: uppercase;
                opacity: 1;
                font-weight: 600;
                font-size: 20px;
                line-height: 40px;
                margin-bottom: 10px;
            }

            & p {
                text-align: left;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                font-weight: 400;
                font-size: 12px;
                line-height: 19px;
                margin-bottom: 23px;
                padding-left: 35px;
                position: relative;

                & i {
                    position: absolute;
                    left: 0;
                    top: 2px;
                    font-size: 18px;
                    color: #FFFFFF;
                }
            }

            & a {
                text-align: left;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                font-weight: 400;
                font-size: 12px;
                line-height: 19px;
                margin-bottom: 23px;
                display: block;
                padding-left: 35px;
                position: relative;

                & i {
                    position: absolute;
                    left: 0;
                    top: 2px;
                    font-size: 18px;
                    color: #ffffff;
                }

                &:hover {
                    color: #ffffff;
                    transition: all 0.3s linear 0s;
                }
            }
        }

        & .social {
            display: flex;
            align-items: center;

            & a {
                background-color: #ffffff;
                opacity: 1;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                margin-right: 10px;

                &.facebook {
                    background-color: #3B5998;
                }

                &.twitter {
                    background-color: #00ACEE;
                }

                &.linkedin {
                    background-color: #0077B5;
                }

                &.insta {
                    background: transparent linear-gradient(141deg, #515BD4 0%, #8134AF 23%, #DD2A7B 51%, #FEDA77 73%, #F58529 100%) 0% 0% no-repeat padding-box;

                    &:hover {
                        background: transparent linear-gradient(141deg, #233785 0%, #233785 23%, #233785 51%, #233785 73%, #233785 100%) 0% 0% no-repeat padding-box;
                    }
                }

                &.pintrest {
                    background-color: #C8232C;
                }

                &.youtube {
                    background-color: #C4302B;
                }

                & i {
                    font-size: 13px;
                    color: #FFFFFF;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background-color: #233785;
                }
            }
        }

        & .menuDetails {
            & h4 {
                text-align: left;
                letter-spacing: 0.72px;
                color: #FFFFFF;
                text-transform: uppercase;
                opacity: 1;
                font-size: 18px;
                margin-bottom: 10px;
                font-weight: 500;
            }

            & p {
                margin-bottom: 10px;

                & a {
                    text-align: left;
                    letter-spacing: 0.56px;
                    color: #FFFFFF;
                    opacity: 1;
                    font-size: 14px;
                    font-weight: 400;

                    &:hover {
                        color: #FFFFFF;
                        padding-left: 4px;
                        transition: all 0.3s linear 0s;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    & .companyPolicy {
        padding: 16px 0 0;

        & p {
            text-align: left;
            letter-spacing: 0px;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0;

            @include small-tablet {
                text-align: center;
                margin-bottom: 10px;
            }

            & a {
                @include get-color(color, second-color-blue);
                font-weight: 500;

                &:hover {
                    @include get-color(color, second-color-blue);
                }
            }
        }

        & .endLine {
            & a {
                text-align: left;
                letter-spacing: 0.56px;
                color: #FFFFFF;
                opacity: 1;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 0;
                padding-left: 10px;

                @include small-tablet {
                    font-size: 12px;
                }

                &:hover {
                    color: #FFFFFF;
                }

                &:first-child {
                    padding-right: 10px;
                    border-right: 1px solid #FFFFFF;
                }
            }
        }
    }
}