@import 'media-query';

.top-bar {
    height: 49px;
    display: flex;
    align-items: center;
    @include get-color(background-color, primary-color-blue);

    & a {
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-size: 14px;
        font-weight: 600;
        vertical-align: middle;
        line-height: 21px;

        & span {
            text-align: left;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;

            &:hover {
                color: #ffffff;
            }
        }

        & i {
            font-size: 18px;
            margin-right: 11px;
            vertical-align: middle;
        }

        & img {
            margin-right: 11px;
            vertical-align: middle;

            @include mobile {
                margin-right: 0;
            }
        }

        &:hover {
            color: #ffffff;
        }
    }

    & .charecter {
        display: inline-block;
        vertical-align: middle;

        & a {
            border-right: 1px solid #ffffff;

            &:last-child {
                border-right: none;
            }
        }
    }

    & .colorPiker {
        display: inline-block;
        vertical-align: middle;

        & a {
            & span {
                background-color: #ffffff;
                border: 1px solid #FFFFFF;
                opacity: 1;
                width: 12px;
                height: 12px;
                border-radius: 100%;

                &.light {
                    background-color: #297EE8;
                }

                &.dark {
                    background-color: #000000;
                }
            }
        }
    }

    .language-picker {
        display: inline-block;
        vertical-align: middle;

        & .language-picker_form {
            & select {
                background-color: #FFFFFF;
                border-radius: 3px;
                opacity: 1;
                height: 25px;
                text-align: left;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
            }
        }
    }
}

.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
    width: 100%;
    padding: 1rem;

    @include tablet {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    & .toggle-button {
        position: absolute;
        right: 0px;
    }

    & .site-logo {
        position: absolute;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 0;
        margin: 0;
        padding: 0;
        z-index: 3;

        & img {
            width: 210px;
        }

        @include tablet {
            float: left;
            position: relative;
        }
    }

    & .get-quote {
        position: absolute;
        right: 0;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 0;
        margin: 0;
        padding: 0;
        z-index: 3;

        & i {
            @include big-tablet {
                display: none;
            }
        }

        @include tablet {
            right: 40px;
        }
    }

    & .site-navigation {
        &.border-bottom {
            border-bottom: 1px solid white !important;
        }

        & .site-menu {
            margin-bottom: 0;

            &.ml-auto {
                @include big-tablet {
                    margin-left: 3rem !important;
                }
            }

            & .active {
                @include get-color(color, primary-color-blue);
            }

            & a {
                text-decoration: none !important;
                display: inline-block;
                font-size: 14px;
            }

            &>li {
                display: inline-block;

                &>a {
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 20px 0px;
                    color: #000000;
                    display: inline-block;
                    text-decoration: none !important;
                    font-weight: 600;

                    @include big-tablet {
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    &:hover {
                        @include get-color(color, primary-color-blue);
                    }
                }
            }

            & .has-children {

                &>a {
                    position: relative;
                    padding-right: 20px;

                    &::before {
                        position: absolute;
                        font-size: 16px;
                        top: 50%;
                        right: 0;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        content: "\f107";
                        font-family: "FontAwesome";
                    }
                }

                & .dropdown {
                    visibility: hidden;
                    opacity: 0;
                    top: 100%;
                    position: absolute;
                    text-align: left;
                    border-top: 2px solid;
                    @include get-color(border-color, primary-color-blue);
                    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
                    padding: 0px 0;
                    margin-top: 20px;
                    margin-left: 0px;
                    background: #fff;
                    -webkit-transition: 0.2s 0s;
                    -o-transition: 0.2s 0s;
                    transition: 0.2s 0s;

                    &.arrow-top {
                        position: absolute;

                        &::before {
                            display: none;
                            bottom: 100%;
                            left: 20%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(136, 183, 213, 0);
                            border-bottom-color: #fff;
                            border-width: 10px;
                            margin-left: -10px;
                        }
                    }

                    & a {
                        text-transform: none;
                        letter-spacing: normal;
                        -webkit-transition: 0s all;
                        -o-transition: 0s all;
                        transition: 0s all;
                        color: #000;

                        &.active {
                            @include get-color(color, primary-color-blue);
                            background: #f8f9fa;
                        }

                    }

                    &>li {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        min-width: 200px;

                        &>a {
                            padding: 9px 20px;
                            display: block;

                            &:hover {
                                @include get-color(background-color, primary-color-blue);
                                color: #ffffff !important;
                            }
                        }

                        &.has-children {
                            &>a {
                                &::before {
                                    content: "\f105";
                                    right: 20px;
                                    font-family: "FontAwesome";
                                }
                            }

                            &>.dropdown,
                            &>ul {
                                left: 100%;
                                top: 0;
                            }

                            &:hover,
                            &:active,
                            &:focus {
                                &>a {
                                    background: #f8f9fa;
                                    color: #ced4da;
                                }
                            }
                        }
                    }
                }

                & .megamenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: #ffffff;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 9;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: #f1f1f1;
                    }

                    &::-webkit-scrollbar-thumb {
                        @include get-color(background-color, primary-color-blue);
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        @include get-color(background-color, primary-color-blue);
                    }

                    &.megamenu--mega {
                        min-width: 100%;
                        width: 100%;
                        padding: 0;
                        display: flex;
                        justify-content: space-around;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 0;

                        @include navbar-large {
                            min-width: 700px;
                        }

                        &>li {
                            &.ServiceImg {
                                background-image: url(../image/home/blog-1.png);
                                background-size: cover;
                                background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 20px 30px;
                                position: relative;
                                cursor: auto;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    @include get-color(background-color, primary-color-blue);
                                    opacity: 0.74;
                                    width: 100%;
                                    height: 100%;
                                }

                                & ul {
                                    z-index: 1;
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    position: relative;

                                    &>li {
                                        text-align: center;

                                        & h3 {
                                            text-align: center;
                                            letter-spacing: 0px;
                                            color: #ffffff;
                                            opacity: 1;
                                            font-size: 20px;
                                            font-weight: 600;
                                            margin-bottom: 10px;
                                        }

                                        & p {
                                            text-align: center;
                                            letter-spacing: 0px;
                                            color: #ffffff;
                                            opacity: 1;
                                            font-size: 14px;
                                            font-weight: 400;
                                            margin-bottom: 20px;
                                        }

                                        & a {
                                            border: 2px solid #ffffff;
                                            padding: 10px;
                                            text-align: center;
                                            letter-spacing: 0px;
                                            color: #ffffff;
                                            opacity: 1;
                                            font-size: 14px;
                                            font-weight: 400;
                                            margin: 0 auto;
                                            cursor: pointer;

                                            &:hover {
                                                @include get-color(background-color, primary-color-blue);
                                                color: #ffffff !important;
                                            }
                                        }
                                    }
                                }
                            }

                            &.serviceMenu {
                                &>ul {
                                    padding: 0;
                                    margin: 0;
                                    list-style: none;

                                    &>li {
                                        padding: 20px;

                                        &:hover {
                                            background-color: rgba(22, 31, 70, 0.05);
                                        }

                                        & h4 {
                                            font-size: 17px;
                                            color: #000000;
                                            font-weight: 500;
                                        }

                                        & p {
                                            font-size: 14px;
                                            line-height: 24px;
                                        }

                                        &:hover {
                                            & h4 {
                                                @include get-color(color, primary-color-blue);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.technoMenu {
                            width: 100%;
                            min-width: 100%;
                            display: flex;

                            &>li {
                                min-width: auto;

                                & img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                                &>ul {
                                    padding: 0;
                                    margin: 0;
                                    list-style: none;
                                    padding: 20px;

                                    &>li {
                                        display: grid;
                                        grid-template-columns: repeat(3, 1fr);
                                        grid-gap: 20px;

                                        &>ul {
                                            padding: 0;
                                            margin: 0 22px 0 0;
                                            list-style: none;

                                            & h5 {
                                                text-align: left;
                                                letter-spacing: 0px;
                                                @include get-color(color, primary-color-blue);
                                                opacity: 1;
                                                font-size: 16px;
                                                font-weight: 500;
                                                z-index: 1;
                                                margin-bottom: 10px;
                                            }

                                            &>li {
                                                & a {
                                                    text-align: left;
                                                    letter-spacing: 0px;
                                                    opacity: 1;
                                                    font-size: 14px;
                                                    font-weight: 400;
                                                    line-height: 24px;
                                                    z-index: 1;
                                                    margin-bottom: 10px;

                                                    &:hover {
                                                        @include get-color(color, primary-color-blue);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {
                    & .megamenu {
                        transform: translateY(0);
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    cursor: pointer;

                    &>a {
                        @include get-color(color, primary-color-blue);
                    }

                    &>.dropdown {
                        -webkit-transition-delay: 0s;
                        -o-transition-delay: 0s;
                        transition-delay: 0s;
                        margin-top: 16px;
                        visibility: visible;
                        opacity: 1;
                    }
                }


            }
        }
    }
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 99999;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;

    & .site-mobile-menu-header {
        width: 100%;
        float: left;
        padding-left: 20px;
        padding-right: 20px;

        & .site-mobile-menu-close {
            float: right;
            margin-top: 8px;

            & span {
                font-size: 30px;
                display: inline-block;
                padding-left: 10px;
                padding-right: 0px;
                line-height: 1;
                cursor: pointer;
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;

                &:hover {
                    color: #ced4da;
                }
            }
        }

        & .site-mobile-menu-logo {
            float: left;
            margin-top: 10px;
            margin-left: 0px;

            & a {
                display: inline-block;
                text-transform: uppercase;

                & img {
                    max-width: 70px;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    & .site-mobile-menu-body {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        position: relative;
        padding: 0 20px 20px 20px;
        height: calc(100vh - 52px);
        padding-bottom: 150px;
    }

    & .site-nav-wrap {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        & a {
            padding: 10px 20px;
            display: block;
            position: relative;
            color: #212529;

            &:hover {
                @include get-color(color, primary-color-blue);
            }
        }

        & li {
            position: relative;
            display: block;

            & .nav-link {
                &.active {
                    @include get-color(color, primary-color-blue);
                }
            }
        }

        & .arrow-collapse {
            position: absolute;
            right: 0px;
            top: 10px;
            z-index: 20;
            width: 36px;
            height: 36px;
            text-align: center;
            cursor: pointer;
            border-radius: 50%;

            &:hover {
                background: #f8f9fa;
            }

            &::before {
                font-size: 22px;
                z-index: 20;
                content: "\f107";
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%) rotate(-180deg);
                -ms-transform: translate(-50%, -50%) rotate(-180deg);
                transform: translate(-50%, -50%) rotate(-180deg);
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;
            }

            &.collapsed {
                &::before {
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }

        &>li {
            display: block;
            position: relative;
            float: left;
            width: 100%;

            &>a {
                padding-left: 10px;
                font-size: 17px;
                font-weight: 600;
            }

            &>ul {
                padding: 0;
                margin: 0;
                list-style: none;

                &>li {
                    display: block;

                    &>a {
                        padding: 5px 20px;
                        padding-left: 25px;
                        font-size: 14px;
                    }

                    &>ul {
                        padding: 0;
                        margin: 0;

                        &>li {
                            display: block;

                            &>h4 {
                                padding: 5px 10px;
                                padding-left: 25px;
                                font-size: 14px;
                                font-weight: 400;
                                color: #212529;
                                line-height: 24px;
                                margin-bottom: 0;
                            }

                            &>a {
                                font-size: 16px;
                                padding-left: 60px;
                            }

                            & ul {
                                padding: 0;
                                margin: 0; 
                                & li {
                                    & a {
                                        padding: 5px 10px;
                                        padding-left: 25px;
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #212529;
                                        line-height: 24px;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &[data-class="social"] {
            float: left;
            width: 100%;
            margin-top: 30px;
            padding-bottom: 5em;

            &>li {
                width: auto;

                &:first-child {
                    & a {
                        padding-left: 15px !important;
                    }
                }
            }
        }
    }
}

.sticky-wrapper {
    position: relative;
    z-index: 100;
    width: 100%;

    & .site-navbar {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        background: #fff;

        & .site-logo {
            & a {
                color: #fff;
            }
        }

        & ul {
            & li {
                & a {
                    color: rgba(255, 255, 255, 0.7);

                    &.active {
                        color: #fff;
                    }
                }
            }
        }
    }

    &.is-sticky {
        & .site-navbar {
            background: #fff;
            -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);

            & .site-logo {
                & a {
                    @include get-color(color, primary-color-blue);
                }
            }

            & ul {
                & li {
                    & a {
                        color: #000;

                        &.active {
                            @include get-color(color, primary-color-blue);
                        }
                    }
                }
            }
        }
    }

    & .shrink {
        padding-top: 0px !important;
        padding-bottom: 0px !important;

        @include tablet {
            padding-top: 30px !important;
            padding-bottom: 30px !important;
        }
    }
}

.btn {
    @include get-color(background-color, primary-color-blue);
    padding: 10px 12px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;

    & img {
        width: 30px;
    }

    & i {
        color: #FFFFFF;
        font-size: 18px;
        margin-left: 9px;
        vertical-align: middle;
        animation: slide2 1s ease-in-out infinite;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #233785, 0px 0px 0px 3px white, 0px 0px 0px 3px #233785;
        background: white !important;
        @include get-color(color, primary-color-blue);

        & i {
            @include get-color(color, primary-color-blue);
        }

        & img {
            filter: brightness(1) invert(1);
        }
    }
}

@keyframes slide2 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(5px, 0);
    }
}