@mixin Extra-large-screen {
  @media screen and (min-width: 2500px){
      @content;
  }
}

@mixin large-screen {
    @media screen and (min-width: 1699.98px){
        @content;
    }
}

@mixin navbar-large {
  @media only screen and (min-width: 1200px) and (max-width: 1499px){
      @content;
  }
}

@mixin slider-tablet {
  @media only screen and (min-width: 992px) and (max-width: 1199px){
      @content;
  }
}

@mixin big-tablet {
    @media screen and (max-width: 1199.98px){
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 991.98px){
        @content;
    }
}

@mixin small-tablet {
    @media screen and (max-width: 767.98px){
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 575.98px){
        @content;
    }
}

@mixin small-mobile {
    @media screen and (max-width: 480.98px){
        @content;
    }
}


$colors:(
  standard: (
    primary-color-blue: #233785,
    black-color-blue: #011126,
    second-color-blue: #297EE8,
  ),
  contrasted: (
    primary-color-blue: #000000,
    black-color-blue: #000000,
    second-color-blue: #000000,
  )
);

@function get-color($key, $type: 'standard'){
    @each $name, $color in map-get($colors, $type){
      @if($key == $name){
        @return $color
      }
    }
  }

  @mixin get-color($property,$color){
    #{$property}: get-color($color);
    @at-root body.contrasted & {
      #{$property}: get-color($color, contrasted);
    }
  }
