@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../scss/media-query';

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #777777;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000000;
        opacity: 0.7;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        visibility: hidden;
        z-index: 1;
    }

    &.offcanvas-menu {
        position: relative;
        overflow: hidden;

        &::before {
            opacity: 0.7;
            z-index: 1002;
            visibility: visible;
        }
    }

    & .loader {
        & .spinner {
            @include get-color(background-color, primary-color-blue);
        }
    }

    & .modal-backdrop {
        &.show {
            opacity: 0.7;
        }
    }

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;


    &:hover,
    &:focus {
        text-decoration: none;
        transition: all 0.3s linear 0s;
    }
}

.container {
    @include big-tablet {
        max-width: 100%;
    }
}

.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    margin-top: 0;
    top: 0;
    background: #ffffff;

    & .spinner {
        width: 40px;
        height: 40px;
        margin: -19px 0 0 -21px;
        @include get-color(background-color, primary-color-blue);
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1s infinite ease-in-out;
        animation: sk-scaleout 1s infinite ease-in-out;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.modal.fade .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0, 0)scale(.5);
    transform: translate(0, 0)scale(.5);
}

.modal.show .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0, 0)scale(1);
    transform: translate(0, 0)scale(1);
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 50%;
    padding: .25em;
    width: 50px;
    height: 50px;
    @include get-color(background-color, second-color-blue);
    z-index: 9999;
    border: 1px solid #ffffff;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &.hide {
        visibility: hidden;
        opacity: 0;
    }

    svg {
        fill: #ffffff;
        width: 25px;
        height: 25px;
    }

    &:hover {
        @include get-color(background-color, second-color-blue);

        svg {
            fill: #ffffff;
        }
    }
}

.screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
    background-color: #FFFFFF;
    color: #233785;

    &:focus {
        display: block;
        top: 5px;
        left: 5px;
        z-index: 100000; // Above WP toolbar
        clip-path: none;
        background-color: #FFFFFF;
        padding: 15px 23px 14px;
        width: auto;
        height: auto;
        text-decoration: none;
        line-height: normal;
        color: #233785;
        font-size: 1em;
        clip: auto !important;
    }
}

.ShineSwitcher {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 5px 0;
    border-radius: 10px;

    & a {
        & img {
            width: auto;
        }
    }

    & .ShineSelected {
        background-color: transparent;
        border: none;
        padding: 0 10px;
        font-weight: 500;
        color: #333;
        text-transform: uppercase;
        outline: none;

        & a {
            list-style: none;
            float: left;
            padding-bottom: 0px;
            position: relative;
            padding-right: 18px;
            color: #000 !important;

            & span {
                margin-left: 0;
                color: #000 !important;
            }

            &::after {
                content: "\f107";
                font-size: 8px;
                border: 0;
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                font-weight: 900;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-family: FontAwesome;
                font-weight: 900;
                color: #000;
            }
        }
    }

    & .ShineOption {
        min-width: 100%;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        right: 0;
        margin: 0;
        list-style-type: none;
        z-index: 102;
        -webkit-box-shadow: 0 0 37px rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 37px rgba(0, 0, 0, 0.7);
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        background-color: #fff;

        & a {
            list-style: none;
            float: left;
            padding-bottom: 0px;
            position: relative;
            padding-right: 18px;
            color: #000;
            list-style: none;
            padding: 5px 10px;

            & span {
                margin-left: 5px;
                color: #000 !important;
            }
        }
    }

    &:hover {
        & .ShineOption {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
            transform: translateY(10px);
        }
    }
}

#goog-gt-tt {
    display: none !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-te-menu-value:hover {
    text-decoration: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    box-shadow: none !important;
}

body {
    top: 0 !important;
}

#google_translate_element {
    display: none !important;
}

@import '../scss/header';
@import '../scss/footer';
@import '../scss/home';
@import '../scss/about';
@import '../scss/history';
@import '../scss/team';
@import '../scss/careers';