@import '../../scss/media-query';

.TeamBanner {
    background-image: url(../image/headerBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 242px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    & h1 {
        text-align: center;
        letter-spacing: 0px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        font-size: 60px;
        line-height: 44px;
        font-weight: 600;
        margin-bottom: 10px;

        @include mobile {
            font-size: 45px;
            line-height: 45px;
        }
    }

    & ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        & li {
            text-align: center;
            letter-spacing: 1.8px;
            opacity: 1;
            color: #000000;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 44px;
            font-weight: 400;
            margin: 0 5px;

            @include mobile {
                font-size: 14px;
                line-height: 22px;
            }

            & a {
                color: #000000;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 44px;
                font-weight: 400;

                @include mobile {
                    font-size: 14px;
                    line-height: 22px;
                }

                &:hover {
                    @include get-color(color, primary-color-blue);
                }
            }

            &:last-child {
                font-weight: 600;
                @include get-color(color, primary-color-blue);
            }
        }
    }
}