@import '../../scss/media-query';

.hiringSection {
    padding-bottom: 90px;

    @include tablet {
        padding-bottom: 50px;
    }

    & .teamBG {
        background-image: url("../image/team/contactBG.png");
        background-size: cover;
        background-position: center right;
        background-repeat: no-repeat;
        border-radius: 10px;
        opacity: 1;
        height: 288px;
        width: 100%;
        padding: 0 0 0 70px;
        @include get-color(background-color, primary-color-blue);

        @include tablet {
            padding: 0 0 0 30px;
        }

        @include small-tablet {
            background-position: center left;
            padding: 30px;
            height: auto;
        }

        & h3 {
            text-align: left;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            font-size: 35px;
            line-height: 50px;
            font-weight: 600;
            margin-bottom: 30px;

            @include tablet {
                font-size: 25px;
                margin-bottom: 20px;
                line-height: 30px;
            }
        }

        & .form-inline {
            & .form-group {
                & input {
                    border: 1px solid #FFFFFF;
                    border-radius: 10px;
                    opacity: 1;
                    text-align: left;
                    letter-spacing: 0px;
                    color: #FFFFFFC7;
                    opacity: 1;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    padding: 0 30px;
                    height: 61px;
                    width: 100%;
                    background-color: transparent;

                    &::-webkit-input-placeholder {
                        color: rgba(255, 255, 255, 0.78);
                    }

                    &::-moz-placeholder {
                        color: rgba(255, 255, 255, 0.78);
                    }

                    &:-ms-input-placeholder {
                        color: rgba(255, 255, 255, 0.78);
                    }

                    &:-moz-placeholder {
                        color: rgba(255, 255, 255, 0.78);
                    }
                }
            }

            & .btn {
                background-color: #FFFFFF;
                border-radius: 10px;
                opacity: 1;
                text-align: center;
                letter-spacing: 0px;
                @include get-color(color, primary-color-blue);
                opacity: 1;
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
                height: 61px;
                width: 100%;

                &:hover {
                    background-color: transparent !important;
                    border: 1px solid #ffffff;
                    color: #ffffff !important;
                }
            }
        }
    }
}