@import '../../scss/media-query';

.ProfileSection {
    padding: 90px 0;

    @include tablet {
        padding: 50px 0;
    }

    & .heading {
        margin-bottom: 50px;

        & p {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            text-transform: uppercase;
            opacity: 1;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 0;

            @include mobile {
                font-size: 14px;
                line-height: 22px;
            }

        }

        & h2 {
            text-align: center;
            letter-spacing: 0px;
            opacity: 1;
            font-size: 40px;
            font-weight: 600;
            line-height: 50px;
            margin-bottom: 0;
            color: #000000;

            & span {
                @include get-color(color, primary-color-blue);
                display: block;
            }

            @include mobile {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }

    & .pt-menu {
        padding: 18px 34px;
        background-color: #FFFFFF;
        border-radius: 10px;
        opacity: 1;
        filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
        margin-bottom: 50px;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        overflow-y: hidden;

        @include mobile {
            padding: 18px 10px;
        }

        & ul {
            padding: 0;
            margin: 0;
            list-style: none;

            &.nav {
                &.nav-tabs {
                    border: none;
                    flex-wrap: nowrap;

                    & li {
                        &.nav-item {
                            margin: 0 10px;

                            @include mobile {
                                margin: 0 5px;
                            }

                            & a {
                                &.nav-link {
                                    display: inline;
                                    padding: 5px 30px;
                                    text-align: center;
                                    letter-spacing: 0px;
                                    color: #000000;
                                    opacity: 1;
                                    font-size: 16px;
                                    line-height: 22px;
                                    font-weight: 500;
                                    border: none;
                                    display: block;

                                    &:hover {
                                        @include get-color(color, primary-color-blue);
                                    }

                                    &.active {
                                        @include get-color(background-color, primary-color-blue);
                                        border-radius: 10px;
                                        opacity: 1;
                                        color: #FFFFFF;
                                    }

                                    @include mobile {
                                        padding: 5px 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &::-webkit-scrollbar-track {
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 2px;
            height: 5px;
            background-color: #F5F5F5;
            scroll-padding-top: 20px;
        }

        &::-webkit-scrollbar-thumb {
            @include get-color(background-color, primary-color-blue);
        }
    }

    & .tab-content {
        & .tab-pane {
            & .teamData {
                background-color: #FFFFFF;
                filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
                border-radius: 10px;
                opacity: 1;
                position: relative;

                & img {

                    &.profileImg {
                        border-radius: 10px;
                        opacity: 1;
                        width: 100%;
                        height: 394px;
                        object-fit: cover;

                        @include tablet {
                            height: 529px;
                        }

                        @include small-tablet {
                            height: 445px;
                        }

                        @include mobile {
                            height: auto;
                        }
                    }
                }

                & .details {
                    padding: 20px;

                    & h5 {
                        text-align: center;
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        font-size: 25px;
                        line-height: 30px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                    & p {
                        text-align: center;
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                }

                & a {
                    &.linkedinIcon {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                        border-radius: 100%;
                        background-color: #0077b5;
                        width: 37px;
                        height: 37px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        & img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }

                & .btnBefore,
                & .btnAfter {
                    content: '';
                    position: absolute;
                    height: 0;
                    width: 0;
                    border: solid;
                    @include get-color(border-color, primary-color-blue);
                    border-width: 0;
                    transition: 0;
                    -webkit-transition: 0;
                    -moz-transition: 0;
                    -o-transition: 0;
                    -ms-transition: 0;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    @include get-color(border-color, primary-color-blue);
                    border-radius: 0;
                }

                & .btnBefore {
                    right: 0;
                    bottom: 0;
                }

                & .btnAfter {
                    left: 0;
                    top: 0;
                }

                &:hover {
                    border-radius: 0;

                    & img {
                        border-radius: 0;
                    }

                    & .btnBefore {
                        border-width: 0 0 3px 3px;
                    }

                    & .btnAfter {
                        border-width: 3px 3px 0 0;
                    }

                    & .btnAfter,
                    & .btnBefore {
                        height: 100%;
                        width: 100%;
                        transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                        -ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                    }
                }
            }
        }
    }
}