@import '../../scss/media-query';

.CareerDetailsSection {
    padding: 90px 0;

    @include mobile {
        padding: 50px 0;
    }

    & .heading {
        margin-bottom: 70px;

        @include mobile {
            margin-bottom: 40px;
        }

        & h2 {
            text-align: left;
            letter-spacing: 0px;
            color: #000000;
            font-size: 40px;
            line-height: 50px;
            font-weight: 600;
            margin-bottom: 15px;

            @include mobile {
                font-size: 30px;
                line-height: 40px;
            }
        }

        & .subHeading {
            display: flex;
            align-items: center;

            & p {
                text-align: left;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
                font-size: 14px;
                line-height: 22px;
                font-weight: 500;
                margin-bottom: 0;

                &:first-child {
                    margin-right: 45px;
                }

                & i {
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.4);
                    vertical-align: middle;
                    margin-right: 8px;
                }
            }
        }
    }

    & .jobDetails {
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 45px;
        }

        & h4 {
            text-align: left;
            letter-spacing: 0px;
            color: #000000;
            font-size: 25px;
            line-height: 25px;
            font-weight: 600;
            margin-bottom: 20px;

            @include mobile {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }
        }

        & p {
            text-align: left;
            letter-spacing: 0px;
            color: #000000;
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        & ul {
            margin: 0;
            padding: 0;
            list-style: none;

            & li {
                text-align: left;
                letter-spacing: 0px;
                opacity: 1;
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                margin-bottom: 10px;
                padding-left: 30px;
                position: relative;
                color: #000000;

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 7px;
                    left: 0;
                    bottom: 0;
                    @include get-color(background-color, primary-color-blue);
                    opacity: 1;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                }
            }
        }
    }

    & .applyBtn {
        & a {
            &.btn {
                width: 203px;
                height: 61px;
                @include get-color(background-color, primary-color-blue);
                border-radius: 10px;
                opacity: 1;
                text-align: left;
                letter-spacing: 0px;
                color: #FFFFFF;
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;

                @include small-mobile {
                    width: 100%;
                }

                &:hover {
                    @include get-color(color, primary-color-blue);
                    cursor: pointer;
                }
            }
        }
    }
}