@import '../../scss/media-query';

.careerImgSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
        grid-template-columns: repeat(1, 1fr);
    }

    & img {
        width: 100%;
        height: 313px;
        object-fit: cover;

        @include small-tablet {
            height: 100%;
        }
    }
}