@import '../../scss/media-query';

.careerModel {
    & .modal-content {
        border-radius: 10px;

        & .modal-body {
            padding: 50px 40px;
            width: 500px;
            margin: 0 auto;

            @include mobile {
                width: 100%;
            }

            @include small-mobile {
                padding: 20px;
            }

            & h3 {
                text-align: center;
                letter-spacing: 0px;
                color: #000000;
                text-transform: uppercase;
                opacity: 1;
                font-size: 25px;
                line-height: 30px;
                font-weight: 600;
                width: 322px;
                margin: 0 auto 24px;

                @include mobile {
                    width: 100%;
                }

                @include small-mobile {
                    font-size: 18px;
                    line-height: 24px;
                }
            }

            & form {
                & .form-group {
                    & input {
                        &.form-control {
                            background-color: #FFFFFF;
                            border-radius: 10px;
                            opacity: 1;
                            filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
                            height: 60px;
                            padding: 0 30px;
                            border: none;
                            text-align: left;
                            letter-spacing: 0px;
                            color: #000000;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 400;
                        }

                        &:focus {
                            box-shadow: none;
                            outline: none;
                            border: 1px solid;
                            @include get-color(border-color, primary-color-blue);
                        }

                        &:-webkit-autofill {
                            filter: none;
                        }

                        &:autofill {
                            filter: none;
                        }
                    }

                    & textarea {
                        &.form-control {
                            background-color: #FFFFFF;
                            border-radius: 10px;
                            opacity: 1;
                            filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
                            padding: 0 30px;
                            border: none;
                            text-align: left;
                            letter-spacing: 0px;
                            color: #000000;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 400;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }

                        &:focus {
                            box-shadow: none;
                            outline: none;
                            border: 1px solid;
                            @include get-color(border-color, primary-color-blue);
                        }

                        &:-webkit-autofill {
                            filter: none;
                        }

                        &:autofill {
                            filter: none;
                        }
                    }

                    &.selectGroup {
                        position: relative;

                        & select {
                            background-color: #FFFFFF;
                            border-radius: 10px;
                            opacity: 1;
                            filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
                            height: 60px;
                            padding: 0 30px;
                            border: none;
                            text-align: left;
                            letter-spacing: 0px;
                            color: #000000;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 400;
                            width: 100%;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;

                            &:focus {
                                box-shadow: none;
                                outline: none;
                                border: 1px solid;
                                @include get-color(border-color, primary-color-blue);
                            }
                        }

                        &::before {
                            font-family: FontAwesome;
                            display: flex;
                            align-items: center;
                            vertical-align: middle;
                            content: "\f107";
                            position: absolute;
                            top: 0;
                            right: 31px;
                            bottom: 0;
                            margin: auto;
                            z-index: 1;
                            font-size: 22px;
                            color: rgba(20, 31, 56, 0.40);
                        }
                    }

                    .file-upload {
                        display: block;
                        text-align: center;
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 12px;

                        & .file-select {
                            display: block;
                            color: rgba(0, 0, 0, 0.57);
                            cursor: pointer;
                            height: 60px;
                            line-height: 40px;
                            text-align: left;
                            background-color: #FFFFFF;
                            border-radius: 10px;
                            overflow: hidden;
                            position: relative;
                            filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));

                            & .file-select-button {
                                background-color: #dce4ec;
                                padding: 0 16px;
                                display: inline-block;
                                height: 60px;
                                line-height: 60px;
                                vertical-align: middle;
                                text-align: left;
                                letter-spacing: 0px;
                                color: #000000;
                                opacity: 1;
                                font-size: 14px;
                                font-weight: 400;

                                @include small-mobile {
                                    width: 100%;
                                    text-align: center;
                                }
                            }

                            & .file-select-name {
                                display: inline-block;
                                padding: 0;
                                text-align: left;
                                letter-spacing: 0px;
                                color: rgba(0, 0, 0, 0.57);
                                opacity: 1;
                                font-size: 14px;
                                line-height: 22px;
                                font-weight: 400;
                                padding-left: 30px;
                                width: 270px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                vertical-align: middle;

                                @include mobile {
                                    width: 180px;
                                    padding-left: 10px;
                                }
                            }

                            &:hover {
                                @include get-color(border-color, primary-color-blue);
                                transition: all .2s ease-in-out;
                                -moz-transition: all .2s ease-in-out;
                                -webkit-transition: all .2s ease-in-out;
                                -o-transition: all .2s ease-in-out;
                                border: 1px solid;
                                @include get-color(border-color, primary-color-blue);

                                & .file-select-button {
                                    @include get-color(background-color, primary-color-blue);
                                    color: #FFFFFF;
                                    transition: all .2s ease-in-out;
                                    -moz-transition: all .2s ease-in-out;
                                    -webkit-transition: all .2s ease-in-out;
                                    -o-transition: all .2s ease-in-out;
                                }
                            }

                            & input[type=file] {
                                z-index: 100;
                                cursor: pointer;
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                filter: alpha(opacity=0);
                            }

                            &.file-select-disabled {
                                opacity: 0.65;

                                &:hover {
                                    cursor: default;
                                    display: block;
                                    border: 2px solid #dce4ec;
                                    color: #34495e;
                                    cursor: pointer;
                                    height: 40px;
                                    line-height: 40px;
                                    margin-top: 5px;
                                    text-align: left;
                                    background-color: #FFFFFF;
                                    overflow: hidden;
                                    position: relative;

                                    & .file-select-button {
                                        background-color: #dce4ec;
                                        color: #666666;
                                        padding: 0 10px;
                                        display: inline-block;
                                        height: 40px;
                                        line-height: 40px;
                                    }

                                    & .file-select-name {
                                        line-height: 40px;
                                        display: inline-block;
                                        padding: 0 10px;
                                    }
                                }
                            }
                        }

                        &.active {
                            & .file-select {
                                @include get-color(border-color, primary-color-blue);
                                transition: all .2s ease-in-out;
                                -moz-transition: all .2s ease-in-out;
                                -webkit-transition: all .2s ease-in-out;
                                -o-transition: all .2s ease-in-out;

                                & .file-select-button {
                                    @include get-color(background-color, primary-color-blue);
                                    color: #FFFFFF;
                                    transition: all .2s ease-in-out;
                                    -moz-transition: all .2s ease-in-out;
                                    -webkit-transition: all .2s ease-in-out;
                                    -o-transition: all .2s ease-in-out;

                                    @include small-mobile {
                                        background-color: #fff;
                                    }
                                }

                                & .file-select-name {
                                    @include small-mobile {
                                        width: 100%;
                                        padding-left: 0;
                                        position: absolute;
                                        top: 0;
                                        z-index: 2;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        margin: auto;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                }

                & button {
                    margin-top: 30px;
                }
            }
        }
    }
}