@import '../../scss/media-query';

.hiringSection {
    padding: 90px 0;

    @include small-tablet {
        padding: 50px 0;
    }

    & .heading {
        margin-bottom: 90px;

        @include small-tablet {
            margin-bottom: 30px;
        }

        & h6 {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            text-transform: uppercase;
            opacity: 1;
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 0; 

            @include mobile {
                font-size: 14px;
                line-height: 22px;
            }
        }

        & h2 {
            text-align: center;
            letter-spacing: 0px;
            opacity: 1;
            color: #000000;
            font-size: 40px;
            line-height: 50px;
            font-weight: 600;
            margin-bottom: 13px;

            @include mobile {
                font-size: 30px;
                line-height: 35px;
            }
        }

        & p {
            text-align: center;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
            margin: 0 auto;
            width: 724px;

            @include tablet {
                width: 100%;
            }

            @include mobile {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    & .cr-table {
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 15px;

        & .cr-main-row {
            display: table-row;

            @include small-tablet {
                display: block;
            }

            & .cr-column {
                display: table-cell;
                padding: 0 40px;
                vertical-align: middle;

                @include small-tablet {
                    display: none;
                }

                & p {
                    text-align: center;
                    letter-spacing: 0px;
                    @include get-color(color, primary-color-blue);
                    opacity: 1;
                    font-size: 20px;
                    line-height: 22px;
                    font-weight: 600;
                    margin-bottom: 0;

                    @include tablet {
                        font-size: 14px;
                    }

                    @include small-tablet {
                        text-align: center !important;
                    }
                }

                &:first-child {
                    & p {
                        text-align: left;
                    }
                }
            }
        }

        & .cr-row {
            display: table-row;

            @include small-tablet {
                display: block;
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            & .cr-column {
                display: table-cell;
                padding: 30px 40px;
                background-color: #F8F8F8;
                vertical-align: middle;

                &:first-child {
                    @include small-tablet {
                        padding-top: 15px;
                    }
                }

                @include small-tablet {
                    display: block;
                    padding: 5px;
                }

                & h6 {
                    text-align: center;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    font-size: 17px;
                    line-height: 30px;
                    font-weight: 600;
                    margin-bottom: 0;
                }

                & h3 {
                    text-align: left;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: 600;
                    margin-bottom: 0;

                    @include tablet {
                        font-size: 14px;
                    }

                    @include small-tablet {
                        text-align: center;
                        font-weight: 400;
                    }
                }

                & p {
                    text-align: center;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    font-size: 20px;
                    line-height: 22px;
                    font-weight: 400;
                    margin-bottom: 0;

                    @include tablet {
                        font-size: 14px;
                    }

                    @include small-tablet {
                        text-align: center;
                    }
                }

                & a {
                    &.btn {
                        width: 134px;
                    }
                }

                &:last-child {
                    text-align: right;

                    @include small-tablet {
                        text-align: center;
                        padding-bottom: 15px;
                    }
                }

            }
        }
    }
}