@import '../../scss/media-query';

.customerSection {
    padding: 0 0 90px;

    @include mobile {
        padding: 0 0 50px;
    }

    & .heading {
        margin-bottom: 50px;

        & h6 {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            text-transform: uppercase;
            opacity: 1;
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 0;

            @include mobile {
                font-size: 14px;
                line-height: 22px;
            }
        }

        & h4 {
            text-align: center;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 40px;
            line-height: 50px;
            font-weight: 600;
            width: 860px;
            margin: 0 auto;

            @include tablet {
                width: 100%;
            }

            @include mobile {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }

    & .mapBox {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        & .mapImg {
            & img {
                position: relative;
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        & .locationPoint {
            position: absolute;
            left: 0;
            top: 0;
            width: 25px;
            height: 25px;
            border: 2px solid;
            @include get-color(border-color, primary-color-blue);
            background: 0;
            cursor: pointer;
            border-radius: 50%;

            &:nth-child(2) {
                left: 12%;
                top: 19%;
            }
            &:nth-child(3) {
                left: 22%;
                top: 59%;
            }

            &:nth-child(4) {
                left: 46%;
                top: 20%;
            }

            &:nth-child(5) {
                left: 52%;
                top: 62%;
            }

            &:nth-child(6) {
                left: 61%;
                top: 33%;

                @include small-tablet {
                    & .inner {
                        left: auto;
                        right: 7px;
    
                        &::before {
                           left: auto;
                           right: 0;
                           transform: rotate(90deg);
                        }
                    }
                }
            }

            &:nth-child(7) {
                left: 75%;
                top: 15%;

                & .inner {
                    left: auto;
                    right: 7px;

                    &::before {
                       left: auto;
                       right: 0;
                       transform: rotate(90deg);
                    }
                }
            }

            &:nth-child(8) {
                left: 90%;
                top: 75%;

                & .inner {
                    left: auto;
                    right: 7px;

                    &::before {
                       left: auto;
                       right: 0;
                       transform: rotate(90deg);
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                width: 13px;
                height: 13px;
                @include get-color(background-color, primary-color-blue);
                margin: auto;
                border-radius: 50%;
            }

            & .inner {
                position: absolute;
                left: 7px;
                bottom: 100%;
                margin-bottom: 25px;
                width: 227px;
                padding: 17px 25px;
                text-align: left;
                letter-spacing: 0px;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                @include get-color(background-color, primary-color-blue);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05), 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
                transform: translateY(10px);
                opacity: 0;
                visibility: hidden;
                transition: all 300ms ease;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    border: 7px solid transparent;
                    border-top: 7px solid;
                    border-left: 7px solid;
                    @include get-color(border-top-color, primary-color-blue);
                    @include get-color(border-left-color, primary-color-blue);
                }

                @include mobile {
                    width: 150px;
                    padding: 15px;
                    font-size: 12px;
                }
            }

            &:hover {
                & .inner {
                    transform: translateY(0px);
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                }
            }
        }
    }
}