@import '../../scss/media-query';

.solutionSection {
    height: 500px;
    width: 100%;
    background-image: url(../image/about/solutionBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    display: flex;
    align-items: center;

    @include tablet {
        height: 100%;
        padding: 50px 0;
    }

    @include small-tablet {
        height: 100%;
        padding: 50px 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%) 0% 0% no-repeat padding-box;

        @include small-tablet {
            background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0.9) 100%, rgba(255, 255, 255, 0.9) 100%) 0% 0% no-repeat padding-box;
        }
    }

    & h3 {
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 54px;

        @include tablet {
            font-size: 30px;
            line-height: 40px;
        }

        @include small-tablet {
            text-align: center;
            font-size: 25px;
            line-height: 35px;
            padding: 0 20px;
            margin-bottom: 35px;
        }

        @include mobile {
            font-size: 20px;
            line-height: 27px;
        }
    }
}