@import '../../scss/media-query';

.expertTeam {
    padding: 90px 0 0;
    background-color: rgba(119, 119, 119, 0.05);

    @include mobile {
        padding: 50px 0 0;
    }

    & .container {
        position: relative;
        padding-bottom: 170px;

        @include tablet {
            padding-bottom: 90px;
        }

        @include small-tablet {
            padding-bottom: 90px;
        }

        @include mobile{
            padding-bottom: 170px;
        }
    }

    & .heading {
        margin-bottom: 50px;

        @include tablet {
            margin-bottom: 0;
        }

        & h5 {
            text-align: left;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            text-transform: uppercase;
            opacity: 1;
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 0;

            @include mobile {
                font-size: 14px;
                line-height: 22px;
            }
        }

        & h3 {
            text-align: left;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 40px;
            line-height: 50px;
            font-weight: 400;
            margin-bottom: 16px;

            & span {
                font-weight: 600;
            }

            @include mobile {
                font-size: 30px;
                line-height: 35px;
            }
        }

        & p {
            text-align: left;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    & .teamData {
        background-color: #FFFFFF;
        border-radius: 10px;
        opacity: 1;
        filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
        display: flex;
        align-items: center;

        & img {
            width: 126px;
            height: 138px;
            object-fit: cover;

            @include big-tablet {
                height: 100%;
            }
        }

        & .details {
            padding: 20px;

            & h4 {
                text-align: left;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
                font-size: 25px;
                line-height: 22px;
                font-weight: 600;
                margin-bottom: 10px;

                @include big-tablet {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            & p {
                text-align: left;
                letter-spacing: 0px;
                @include get-color(color, primary-color-blue);
                opacity: 1;
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                margin-bottom: 0;

                @include big-tablet {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }

        & .btnBefore,
        & .btnAfter {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border: solid;
            @include get-color(border-color, primary-color-blue);
            border-width: 0;
            transition: 0;
            -webkit-transition: 0;
            -moz-transition: 0;
            -o-transition: 0;
            -ms-transition: 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            @include get-color(border-color, primary-color-blue);
            border-radius: 0;
        }

        & .btnBefore {
            right: 0;
            bottom: 0;
        }

        & .btnAfter {
            left: 0;
            top: 0;
        }

        &:hover {
            border-radius: 0;

            & .btnBefore {
                border-width: 0 0 3px 3px;
            }

            & .btnAfter {
                border-width: 3px 3px 0 0;
            }

            & .btnAfter,
            & .btnBefore {
                height: 100%;
                width: 100%;
                transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
            }
        }
    }

    & .btn {
        margin-top: 50px;
    }

    & .consultSection {
        @include get-color(background-color, primary-color-blue);
        opacity: 1;
        padding: 37px 140px;
        position: absolute;
        bottom: -79px;
        left: 0;
        right: 0;
        z-index: 2;

        @include tablet {
            padding: 20px;
        }


        & h4 {
            text-align: left;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            font-size: 30px;
            line-height: 40px;
            font-weight: 400;
            margin-bottom: 0;

            @include small-tablet {
                font-size: 25px;
                line-height: 35px;
            }

            @include mobile {
                font-weight: 400;
                margin-bottom: 21px;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
            }

            & span {
                font-weight: 600;
                display: block;
            }
        }

        & .btn {
            margin-top: 0;
            background-color: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
        }
    }
}