@import '../../scss/media-query';

.welcomeSection {
    padding: 90px 0;

    @include mobile {
        padding: 50px 0;
    }

    & .heading {
        margin-bottom: 50px;

        & h6 {
            text-align: center;
            letter-spacing: 0px;
            @include get-color(color, primary-color-blue);
            text-transform: uppercase;
            opacity: 1;
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 0;

            @include mobile {
                font-size: 14px;
                line-height: 22px;
            }
        }

        & h4 {
            text-align: center;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 40px;
            line-height: 50px;
            font-weight: 600;
            margin-bottom: 0;

            @include mobile {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }

    & .subHeading {
        margin-bottom: 70px;

        @include mobile {
            margin-bottom: 30px;
        }

        & p {
            text-align: left;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        & ul {
            padding: 0;
            margin: 0;
            list-style: none;

            @include small-tablet {
                margin-top: 30px;
            }

            & li {
                text-align: left;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                margin-bottom: 18px;
                position: relative;

                @include small-tablet {
                    padding-left: 26px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &::after {
                    content: "";
                    display: inline-block;
                    transform: rotate(45deg);
                    height: 18px;
                    width: 10px;
                    border-bottom: 4px solid;
                    border-right: 4px solid;
                    @include get-color(border-color, primary-color-blue);
                    position: absolute;
                    top: 0;
                    left: -34px;

                    @include small-tablet {
                        left: 0;
                    }
                }
            }
        }
    }

    & .BoxBg {
        background-color: #FFFFFF;
        opacity: 1;
        filter: drop-shadow(0 0 8px rgba(41, 126, 232, 0.19));
        height: 100%;
        border-radius: 10px;

        & img {
            height: 295px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
        }

        & .details {
            padding: 30px 30px 48px;

            & h5 {
                text-align: left;
                letter-spacing: 0px;
                @include get-color(color, primary-color-blue);
                opacity: 1;
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            & p {
                text-align: left;
                letter-spacing: 0px;
                color: #777777;
                opacity: 1;
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                margin-bottom: 0;
            }
        }

        & .btnBefore,
        & .btnAfter {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border: solid;
            @include get-color(border-color, primary-color-blue);
            border-width: 0;
            transition: 0;
            -webkit-transition: 0;
            -moz-transition: 0;
            -o-transition: 0;
            -ms-transition: 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            @include get-color(border-color, primary-color-blue);
            border-radius: 0;
        }

        & .btnBefore {
            right: 0;
            bottom: 0;
        }

        & .btnAfter {
            left: 0;
            top: 0;
        }

        &:hover {
            border-radius: 0;

            & img {
                border-radius: 0;
            }

            & .btnBefore {
                border-width: 0 0 3px 3px;
            }

            & .btnAfter {
                border-width: 3px 3px 0 0;
            }

            & .btnAfter,
            & .btnBefore {
                height: 100%;
                width: 100%;
                transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
                -ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
            }
        }
    }
}